---
class: ""
image:
  sources:
      - {type: 'default', srcset: '//dummyimage.com/992x480/333333/fff'}
---
<div class="partial {{class}}" data-partial="elements/slider/image">
  {{{mixin "elements/picture" image}}}
</div>
