
/* Typo */

$font-basic: 'open-sans', sans-serif;
$font-dashicons: 'dashicons';

$font-icon: 'coma-theme-icon';
$coma-theme-icon-unfullscreen: "\e902";
$coma-theme-icon-fullscreen: "\e900";
$coma-theme-icon-arrow_left: "\1f31e";
$coma-theme-icon-arrow_right: "\e901";


$offset-default: 5px;

$color-header-navigation-default: #555555;
$color-header-navigation-selected: #000000;
$color-header-navigation-background-selected: rgba(0, 0, 0, 0.1);
$color-header-navigation-border-selected: rgba(0, 0, 0, 0.2);

$color-header-mobile-navigation-default: #EEEEEE;
$color-header-mobile-navigation-selected: #FFFFFF;
$color-header-mobile-navigation-background-selected: rgba(255, 255, 255, 0.1);
$color-header-mobile-navigation-border-selected: rgba(255, 255, 255, 0.2);


$color-footer-navigation-default: #555555;
$color-footer-navigation-selected: #000000;

$color-sidebar-menu-header-default: #333333;

$color-primary-headline: #333333;
$color-primary-headline-dark: #ffffff;
$color-copy-basic: #333333;
$color-copy-dim: #CCCCCC;

$color-link-default: #555555;
$color-link-selected-default: #000000;

$color-post-header-headline-default: #333333;
$color-post-header-subline-default: #888888;
