---
copyright: "<p>CoMa Copyright</p>"
---
<footer class="partial{{#if class}} {{class}}{{/if}}" data-partial="components/footer">
  <div class="grid-g">
    <div class="grid-col-12-12 grid-col-md-4-12 grid-col-md-offset-3-12 grid-col-lg-offset-4-12">
      {{{mixin "fragments/footer/navigation"}}}
    </div>
    <div class="grid-col-12-12 grid-col-md-4-12">
      {{{copyright}}}
    </div>
  </div>
</footer>
