---
class: ""
items:
  -
    title: "Link 1."
    url: "#link-1"
    selected: true
  -
    title: "Link 2."
    url: "#link-2"
  -
    title: "Link 3."
    url: "#link-3"
---
<ul class="fragment{{#if class}} {{class}}{{/if}}" data-partial="fragments/menu">
  {{#block "content"}}
    {{#if area-content}}
      {{{area-content}}}
    {{else}}
      {{#each items}}
          <li {{#if selected}} class="selected" {{/if}}>
            {{{mixin "agency-pkg-elements/link" this}}}
          </li>
      {{/each}}
    {{/if}}
  {{/block}}
</ul>
