---
headline-primary: false
headline: "Sidebar"
subline: "subline"
---
<section class="partial" data-partial="components/sidebar/menu">
  {{{mixin "elements/header"}}}
  {{{mixin "fragments/menu"}}}
</section>
