@import "./fragments/navigation.critical.pcss";
@import "./fragments/header/navigation.ciritcal.pcss";
@import "./fragments/footer/navigation.critical.pcss";
@import "./fragments/slider.critical.pcss";
