---
single-navigation:
  class: "single-navigation"
  items:
    -
      class: 'back'
      url: '#home-url'
      title: 'Back'
---
<nav class="partial" data-partial="components/footer/navigation">
  {{{mixin "fragments/menu"}}}
</nav>
