---
date: ""
small-stage: false
header:
  headline: "Post headline"
  subline: "Post subline"
  small-stage: false
  picture:
    sources:
        - {type: 'default', srcset: '//dummyimage.com/992x480/333333/fff'}

copy: "<h1>Headline h1</h1><h2>Headline h2</h2><h3>Headline h3</h3><h4>Headline h4</h4><h5>Headline h5</h5><h6>Headline h6</h6><p><small>A tenetur dis est sodales ullamcorper repellendus voluptate scelerisque conubia, congue officia, suspendisse mus hic nemo maiores nihil, tempus nam.</small></p><p>Diamlorem semper! Nostrud, <a href="#">varius adipisci</a>, occaecat, molestie. Vehicula hic nostrud netus excepturi mattis hac metus iusto doloribus conubia feugiat vehicula.</p><p><span style=\"font-style: italic;\">Aliquet lacinia eligendi iste! Exercitationem. Tristique cupidatat dictum suscipit nascetur condimentum amet, do sequi qui possimus incididunt reprehenderit molestiae rhoncus.</span></p><p><strong>A tenetur dis est sodales ullamcorper repellendus voluptate scelerisque conubia, congue officia, suspendisse mus hic nemo maiores nihil, tempus nam.</strong></p><ul><li>List Item 1.</li><li>List Item 2.</li><li>List Item 3.<ul><li>List Item 1.</li><li>List Item 2.</li><li>List Item 3.</li></ul></li></ul><p>A tenetur dis est sodales ullamcorper repellendus voluptate scelerisque conubia, congue officia, suspendisse mus hic nemo maiores nihil, tempus nam.</p><ol><li>List Item 1.</li><li>List Item 2.</li><li>List Item 3.<ol><li>List Item 1.</li><li>List Item 2.</li><li>List Item 3.</li></ol></li></ol><blockquote><p>A tenetur dis est sodales ullamcorper repellendus voluptate scelerisque conubia, congue officia, suspendisse mus hic nemo maiores nihil, tempus nam.</p><ul><li>List Item 1.</li><li>List Item 2.</li><li>List Item 3.<ul><li>List Item 1.</li><li>List Item 2.</li><li>List Item 3.</li></ul></li></ul><p>A tenetur dis est sodales ullamcorper repellendus voluptate scelerisque conubia, congue officia, suspendisse mus hic nemo maiores nihil, tempus nam.</p></blockquote><p>A tenetur dis est sodales ullamcorper repellendus voluptate scelerisque conubia, congue officia, suspendisse mus hic nemo maiores nihil, tempus nam.</p>"

more-link:
  class: "more-link"
  url: "#more-link"
  title: "More..."
---
<article class="partial{{#if small-stage}} small-stage{{/if}}" data-partial="components/post-list/post">

  {{#if header}}

    {{#mixin "elements/header" header}}

      {{#content "before"}}
        {{{mixin "elements/picture" picture}}}

      {{/content}}

      {{#content "after"}}
      {{/content}}

    {{/mixin}}

  {{/if}}

  {{#block "content"}}
    {{{copy}}}
  {{/block}}

  <p class="info">
    {{#if date}}
      <span class="date">{{{date}}}</span>
    {{/if}}
    {{#with more-link}}
      {{{mixin "elements/link" this}}}
    {{/with}}
  </p>

  {{#block "area"}}

  {{/block}}

</article>
