---
slider:
  pagination: true
  arrows: true
  loop: true
  slides:
    -
      image:
        sources:
          - {type: 'default', srcset: '../../../assets/img/content/example_1.png'}
    -
      image:
        sources:
          - {type: 'default', srcset: '../../../assets/img/content/example_2.png'}
    -
      image:
        sources:
          - {type: 'default', srcset: '../../../assets/img/content/example_3.png'}
    -
      image:
        sources:
          - {type: 'default', srcset: '../../../assets/img/content/example_4.png'}
    -
      image:
        sources:
          - {type: 'default', srcset: '../../../assets/img/content/example_5.png'}
    -
      image:
        sources:
          - {type: 'default', srcset: '../../../assets/img/content/example_6.png'}
    -
      image:
        sources:
          - {type: 'default', srcset: '../../../assets/img/content/example_7.png'}
    -
      image:
        sources:
          - {type: 'default', srcset: '../../../assets/img/content/example_8.png'}

---
{{{def name="slider" type="Slider" title="Slider"}}}
<div class="partial " data-partial="components/media/slider">

  {{{mixin "fragments/slider" slider area-content=area-content}}}

</div>
