---
youtube:
  id: "VBafwg16xpU"
  allow-fullscreen: true
  width: "auto"
  height: "auto"
  inview-autoplay: true
---
{{{def group="youtube" name="youtube" type="Youtube" value=youtube mixin="true" title="Youtube"}}}
<div class="partial" data-partial="components/media/video">
    <div>
      {{{mixin "elements/video/youtube" youtube}}}
    </div>
</div>
