---
poster:
  class: "align-vertical-center-default js-active"
  sources:
    - {type: 'default', srcset: '//dummyimage.com/992x558/333333/fff'}
---
<div class="partial constroller" data-partial="elements/video/mediaelement" data-controller="./partials/elements/video/Mediaelement">
    {{{extend "elements/video"}}}
    {{{extend "elements/picture" poster}}}
</div>
