---
id: "VBafwg16xpU"
allow-fullscreen: true
width: "auto"
height: "auto"
inview-autoplay: true
---
<div class="partial controller" data-partial="elements/video/youtube" data-controller="./partials/elements/video/Youtube" data-src="//www.youtube.com/embed/{{id}}"{{#if inview-autoplay}}  data-inview-autoplay="true"{{/if}}>
  <iframe id="video-youtube-{{{id}}}" frameborder="0" {{#if allow-fullscreen}} allowfullscreen {{/if}} width="{{width}}" height="{{height}}"></iframe>
</div>
