/*!
Theme Name: CoMa (Content-Manager) Template
Theme URI: https://bitbucket.org/lammpee/coma-theme
Author: Thorn-Welf Walli
Author URI: https://lammpee.de/
Description: Example theme for CoMa.
Version: 1.0
*/

@import "../../generated/pcss/purecss/custom-media-variables.pcss";

@import "./common/doc.pcss";
@import "./common/variables.pcss";
@import "./common/mixins.pcss";


@import "./fonts.pcss";
@import "./partials.pcss";

@import "./external.pcss";
@import "./coma.pcss";
