.partial[data-partial="elements/touch-button/icon"] {
  > span {
    &:before {
      font-family: $§font-icon;
      display: block;
      padding: 0;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
    }
  }
}
