.partial[data-partial="fragments/slider"] {

  &:not(.js-slider-init) {
    > [data-partial="components/slider/slide"] {
      top: 0;
      position: absolute;
      visibility: hidden;
      &:first-child {
        position: relative;
        visibility: visible;
      }
    }
    .swiper-button-prev, .swiper-button-next {
      display: none
    }
  }
}
